<page-header></page-header>
<ion-content [fullscreen]="true" color="medium">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
      <h1>Ionic + Angular Content Management System (CMS)</h1>
    <ion-list>
        <ion-item *ngFor="let feature of features">
            <ion-label>{{feature.val}}</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="feature.isChecked" [color]="feature.color"></ion-checkbox>
        </ion-item>
    </ion-list>
      <h3>Angular Version 10</h3>
  </div>
</ion-content>

<page-footer></page-footer>
<!--
<footer class="">
  <ion-row>
      <ion-col center class="ion-text-center">
          <button>
              <ion-icon name="eye-off-outline"></ion-icon>
              <div>All Rights Reserved</div>
          </button>
      </ion-col>
      <ion-col center class="ion-text-center">
          <button>
              <ion-icon name="copy-outline"></ion-icon>
              <div>Copyright, 2020</div>
          </button>
      </ion-col>
      <ion-col center class="ion-text-center">
          <button>
              <ion-icon name="time-outline"></ion-icon>
              <div>Kingsley Tagbo</div>
          </button>
      </ion-col>
  </ion-row>
</footer>
-->