<!--
<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
              <ion-icon name="beer-sharp"></ion-icon>
             Angular LMS
      </ion-title>
      <ion-buttons slot="primary">
          <ion-button *ngIf="loggedIn">
              <ion-icon slot="start" name="lock-closed"></ion-icon>
              <span>Logout </span>
          </ion-button>
          <ion-button *ngIf="!loggedIn">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <span>Login</span>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
-->
<page-header></page-header>

<ion-content [fullscreen]="true" color="medium">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
      <h1>Cross-Platform Ionic Angular Content Management System (CMS)</h1>
    <ion-list>
        <ion-item *ngFor="let feature of features">
            <ion-label>{{feature.val}}</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="feature.isChecked"></ion-checkbox>
        </ion-item>
    </ion-list>
      <h3>Angular Version 10</h3>
  </div>
</ion-content>

<page-footer></page-footer>
<!--
<footer class="">
  <ion-row>
      <ion-col center class="ion-text-center">
          <button>
              <ion-icon name="eye-off-outline"></ion-icon>
              <div>All Rights Reserved</div>
          </button>
      </ion-col>
      <ion-col center class="ion-text-center">
          <button>
              <ion-icon name="copy-outline"></ion-icon>
              <div>Copyright, 2020</div>
          </button>
      </ion-col>
      <ion-col center class="ion-text-center">
          <button>
              <ion-icon name="time-outline"></ion-icon>
              <div>Kingsley Tagbo</div>
          </button>
      </ion-col>
  </ion-row>
</footer>
-->